body {
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1
{
  text-align: center;
  transform: translateX(-50%);
}
